name: Release app

on:
  workflow_dispatch:

# Add permissions block at the top level
permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        os:
          [
            { name: 'linux', image: 'ubuntu-latest' },
            { name: 'windows', image: 'windows-latest' },
            { name: 'macos-universal', image: 'macos-latest', arch: 'universal' },
          ]

    runs-on: ${{ matrix.os.image }}

    steps:
      - name: GitHub checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm ci

      - name: Publish app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          APPLE_ARCH: ${{ matrix.os.arch }}
        run: npm run publish
